<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cnu.serv.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>CureNearYou</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>cnu.serv.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorSignUp</display-name>
    <servlet-name>DoctorSignUp</servlet-name>
    <servlet-class>cnu.serv.DoctorSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorSignUp</servlet-name>
    <url-pattern>/DoctorSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalSignUp</display-name>
    <servlet-name>HospitalSignUp</servlet-name>
    <servlet-class>cnu.serv.HospitalSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalSignUp</servlet-name>
    <url-pattern>/HospitalSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LabTechSignUp</display-name>
    <servlet-name>LabTechSignUp</servlet-name>
    <servlet-class>cnu.serv.LabTechSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabTechSignUp</servlet-name>
    <url-pattern>/LabTechSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>abc</display-name>
    <servlet-name>abc</servlet-name>
    <servlet-class>cnu.serv.abc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
</web-app>